.head-title {
    position: absolute;
    font-size: 50px;
    color: orangered;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
     border-bottom: 3px solid black;
}


.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-content: center;
    max-width: 600px;
    margin: 0 auto;
}

.container a {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid orangered;
    border-radius: 20px;
    padding: 10px;
    font-size: 35px;
    text-decoration: none;
    text-align: center;
    color: #FFFFFF;
    background: orangered;
}

.container a:hover {
    font-weight: bolder;
}

header a img {
    width: 100px;
    height: auto;
}

header a {
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    display: flex;
    align-items: center;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    position: relative;
}

.result {
    font-size: 20px;
    color: black;
    padding: 20px;
    border-radius: 10px;
}

.result-container{
    display: flex;
    justify-content: center;
    padding: 20px;
}